<div id="<%= dom_id agente %>">
  <p>
    <strong>Name:</strong>
    <%= agente.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= agente.user_id %>
  </p>

  <p>
    <strong>Channels:</strong>
    <%= agente.channels %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= agente.status %>
  </p>

</div>
