<p><%= link_to "Back", agentes_path %></p>

<section class="agente">


  <section class="agente-info">
    <% cache @agente do %>
      <h1><%= @agente.name %></h1>

    <% end %>

    <%= render @agente %>

    <% if authenticated? %>
      <%= link_to "Edit", edit_agente_path(@agente) %>
      <%= button_to "Delete", @agente, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </section>
</section>
