<p style="color: green"><%= notice %></p>

<%= render @conversacion %>

<div>
  <%= link_to "Edit this conversacion", edit_conversacion_path(@conversacion) %> |
  <%= link_to "Back to conversacions", conversacions_path %>

  <%= button_to "Destroy this conversacion", @conversacion, method: :delete %>
</div>
